@import url(3rdparty/reset.css);

main {
    padding-top: 2.5rem;
}

img {
    width: 100%;
}

h1 {
    color: #333;
    font-size: 2rem;
    font-weight: 800;
    padding: 10px 0;
}

p {
  line-height: 1.5rem;
  margin-bottom: 30px;
}